# API Requests

collect daily stock market data

In [2]:
# load the API key from secrets.toml
import streamlit as st

api_key = st.secrets["API_KEY"]

# search Endpoint
get symbol for state bank

In [5]:
import requests

url = "https://alpha-vantage.p.rapidapi.com/query"

querystring = {
    "datatype": "json",
    "keywords": "State Bank of India",
    "function": "SYMBOL_SEARCH",
}

headers = {"x-rapidapi-key": api_key, "x-rapidapi-host": "alpha-vantage.p.rapidapi.com"}

response = requests.get(url, headers=headers, params=querystring)

data = response.json()
data

{'bestMatches': [{'1. symbol': 'SBIN.BSE',
   '2. name': 'State Bank of India',
   '3. type': 'Equity',
   '4. region': 'India/Bombay',
   '5. marketOpen': '09:15',
   '6. marketClose': '15:30',
   '7. timezone': 'UTC+5.5',
   '8. currency': 'INR',
   '9. matchScore': '1.0000'},
  {'1. symbol': 'SBKFF',
   '2. name': 'State Bank of India',
   '3. type': 'Equity',
   '4. region': 'United States',
   '5. marketOpen': '09:30',
   '6. marketClose': '16:00',
   '7. timezone': 'UTC-04',
   '8. currency': 'USD',
   '9. matchScore': '1.0000'},
  {'1. symbol': 'SID.FRK',
   '2. name': 'State Bank of India',
   '3. type': 'Equity',
   '4. region': 'Frankfurt',
   '5. marketOpen': '08:00',
   '6. marketClose': '20:00',
   '7. timezone': 'UTC+02',
   '8. currency': 'EUR',
   '9. matchScore': '1.0000'},
  {'1. symbol': 'SBID.LON',
   '2. name': 'State Bank of India GDR',
   '3. type': 'Equity',
   '4. region': 'United Kingdom',
   '5. marketOpen': '08:00',
   '6. marketClose': '16:30',
   '7. timezone': 'UTC+01',
   '8. currency': 'USD',
   '9. matchScore': '0.9048'}]}

In [6]:
data.keys

In [7]:
symbols = data["bestMatches"]

In [8]:
import pandas as pd

df_symbols = pd.DataFrame(symbols)
df_symbols

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
0,SBIN.BSE,State Bank of India,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,1.0000
1,SBKFF,State Bank of India,Equity,United States,09:30,16:00,UTC-04,USD,1.0000
2,SID.FRK,State Bank of India,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,1.0000
3,SBID.LON,State Bank of India GDR,Equity,United Kingdom,08:00,16:30,UTC+01,USD,0.9048

# I want to the data for SBIN.BSE

### Time Series Daily Endpoint

In [9]:
import requests

import requests

url = "https://alpha-vantage.p.rapidapi.com/query"

querystring = {
    "function": "TIME_SERIES_DAILY",
    "symbol": "SBIN.BSE",
    "outputsize": "compact",
    "datatype": "json",
}

headers = {"x-rapidapi-key": api_key, "x-rapidapi-host": "alpha-vantage.p.rapidapi.com"}

response = requests.get(url, headers=headers, params=querystring)

daily = response.json()
daily

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'SBIN.BSE',
  '3. Last Refreshed': '2025-08-18',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2025-08-18': {'1. open': '831.3500',
   '2. high': '835.2000',
   '3. low': '825.3000',
   '4. close': '827.0000',
   '5. volume': '435823'},
  '2025-08-14': {'1. open': '821.8500',
   '2. high': '828.0000',
   '3. low': '819.2000',
   '4. close': '826.7000',
   '5. volume': '492882'},
  '2025-08-13': {'1. open': '823.4500',
   '2. high': '824.9000',
   '3. low': '820.5500',
   '4. close': '822.1500',
   '5. volume': '847012'},
  '2025-08-12': {'1. open': '824.3000',
   '2. high': '825.6000',
   '3. low': '820.0000',
   '4. close': '820.5500',
   '5. volume': '784250'},
  '2025-08-11': {'1. open': '807.0000',
   '2. high': '824.9500',
   '3. low': '807.0000',
   '4. close': '824.3000',
   '5. volume': '1141997'},
  '2025-08-08': {'1. open': '805.0000',
   '2. high': '807.9500',
   '3. low': '790.1000',
   '4. close': '804.5500',
   '5. volume': '621304'},
  '2025-08-07': {'1. open': '801.1000',
   '2. high': '806.5000',
   '3. low': '793.3000',
   '4. close': '805.2500',
   '5. volume': '188248'},
  '2025-08-06': {'1. open': '801.0000',
   '2. high': '810.0000',
   '3. low': '799.0000',
   '4. close': '805.1500',
   '5. volume': '376366'},
  '2025-08-05': {'1. open': '795.6500',
   '2. high': '803.6500',
   '3. low': '795.6500',
   '4. close': '800.7000',
   '5. volume': '512346'},
  '2025-08-04': {'1. open': '795.0000',
   '2. high': '797.4500',
   '3. low': '786.5500',
   '4. close': '795.6500',
   '5. volume': '193850'},
  '2025-08-01': {'1. open': '796.5000',
   '2. high': '800.7500',
   '3. low': '791.9500',
   '4. close': '793.9500',
   '5. volume': '234321'},
  '2025-07-31': {'1. open': '796.6500',
   '2. high': '803.6000',
   '3. low': '792.4500',
   '4. close': '796.4500',
   '5. volume': '378571'},
  '2025-07-30': {'1. open': '799.8500',
   '2. high': '803.4000',
   '3. low': '796.2500',
   '4. close': '801.8500',
   '5. volume': '154363'},
  '2025-07-29': {'1. open': '795.3500',
   '2. high': '800.2000',
   '3. low': '793.1000',
   '4. close': '798.9000',
   '5. volume': '330118'},
  '2025-07-28': {'1. open': '808.9500',
   '2. high': '809.2000',
   '3. low': '796.0000',
   '4. close': '797.1500',
   '5. volume': '389824'},
  '2025-07-25': {'1. open': '814.3500',
   '2. high': '819.0000',
   '3. low': '805.5500',
   '4. close': '806.5000',
   '5. volume': '383923'},
  '2025-07-24': {'1. open': '819.7500',
   '2. high': '821.9500',
   '3. low': '810.6500',
   '4. close': '815.8500',
   '5. volume': '323698'},
  '2025-07-23': {'1. open': '815.2000',
   '2. high': '825.0000',
   '3. low': '811.4000',
   '4. close': '820.7500',
   '5. volume': '739975'},
  '2025-07-22': {'1. open': '829.0000',
   '2. high': '829.0000',
   '3. low': '814.0000',
   '4. close': '815.0000',
   '5. volume': '174364'},
  '2025-07-21': {'1. open': '823.5000',
   '2. high': '827.4000',
   '3. low': '817.9500',
   '4. close': '824.2000',
   '5. volume': '258166'},
  '2025-07-18': {'1. open': '832.4000',
   '2. high': '832.4000',
   '3. low': '820.0500',
   '4. close': '823.3000',
   '5. volume': '256301'},
  '2025-07-17': {'1. open': '839.0000',
   '2. high': '842.3000',
   '3. low': '826.1500',
   '4. close': '828.6000',
   '5. volume': '624129'},
  '2025-07-16': {'1. open': '816.5000',
   '2. high': '834.0000',
   '3. low': '815.1500',
   '4. close': '831.5500',
   '5. volume': '1238621'},
  '2025-07-15': {'1. open': '810.2000',
   '2. high': '821.0000',
   '3. low': '810.2000',
   '4. close': '816.7500',
   '5. volume': '460084'},
  '2025-07-14': {'1. open': '810.4000',
   '2. high': '815.6000',
   '3. low': '808.0000',
   '4. close': '809.3000',
   '5. volume': '435542'},
  '2025-07-11': {'1. open': '808.0000',
   '2. high': '812.6000',
   '3. low': '804.5000',
   '4. close': '808.5000',
   '5. volume': '227573'},
  '2025-07-10': {'1. open': '812.0000',
   '2. high': '815.5000',
   '3. low': '807.0500',
   '4. close': '808.0000',
   '5. volume': '174968'},
  '2025-07-09': {'1. open': '810.0000',
   '2. high': '812.2500',
   '3. low': '809.1000',
   '4. close': '810.8500',
   '5. volume': '176144'},
  '2025-07-08': {'1. open': '808.9500',
   '2. high': '813.8500',
   '3. low': '805.5000',
   '4. close': '812.8000',
   '5. volume': '573527'},
  '2025-07-07': {'1. open': '812.8000',
   '2. high': '812.8000',
   '3. low': '805.2000',
   '4. close': '806.9500',
   '5. volume': '116638'},
  '2025-07-04': {'1. open': '810.2500',
   '2. high': '813.5000',
   '3. low': '804.2000',
   '4. close': '811.8500',
   '5. volume': '359322'},
  '2025-07-03': {'1. open': '813.0000',
   '2. high': '815.0000',
   '3. low': '806.0000',
   '4. close': '807.1000',
   '5. volume': '429112'},
  '2025-07-02': {'1. open': '820.7000',
   '2. high': '824.3500',
   '3. low': '809.1000',
   '4. close': '813.2000',
   '5. volume': '193280'},
  '2025-07-01': {'1. open': '820.3500',
   '2. high': '824.9500',
   '3. low': '813.2500',
   '4. close': '820.2500',
   '5. volume': '633178'},
  '2025-06-30': {'1. open': '808.9500',
   '2. high': '821.0000',
   '3. low': '807.0500',
   '4. close': '820.3500',
   '5. volume': '478069'},
  '2025-06-27': {'1. open': '806.0000',
   '2. high': '809.5000',
   '3. low': '802.4000',
   '4. close': '805.4000',
   '5. volume': '477274'},
  '2025-06-26': {'1. open': '802.7000',
   '2. high': '803.4500',
   '3. low': '791.5000',
   '4. close': '797.0000',
   '5. volume': '478368'},
  '2025-06-25': {'1. open': '799.0000',
   '2. high': '805.0000',
   '3. low': '796.1000',
   '4. close': '800.1000',
   '5. volume': '197275'},
  '2025-06-24': {'1. open': '798.5000',
   '2. high': '806.5000',
   '3. low': '793.6000',
   '4. close': '795.2500',
   '5. volume': '937612'},
  '2025-06-23': {'1. open': '790.2000',
   '2. high': '794.6000',
   '3. low': '788.4500',
   '4. close': '790.1500',
   '5. volume': '212782'},
  '2025-06-20': {'1. open': '787.9500',
   '2. high': '799.1000',
   '3. low': '786.3000',
   '4. close': '796.0000',
   '5. volume': '224991'},
  '2025-06-19': {'1. open': '792.8500',
   '2. high': '793.2000',
   '3. low': '781.5000',
   '4. close': '784.7000',
   '5. volume': '235832'},
  '2025-06-18': {'1. open': '792.1000',
   '2. high': '795.5000',
   '3. low': '788.3500',
   '4. close': '791.7500',
   '5. volume': '131579'},
  '2025-06-17': {'1. open': '793.5000',
   '2. high': '798.8000',
   '3. low': '790.7500',
   '4. close': '792.2000',
   '5. volume': '1103108'},
  '2025-06-16': {'1. open': '792.5500',
   '2. high': '795.3500',
   '3. low': '786.3500',
   '4. close': '792.8500',
   '5. volume': '1385709'},
  '2025-06-13': {'1. open': '789.7500',
   '2. high': '796.2000',
   '3. low': '788.9000',
   '4. close': '792.4000',
   '5. volume': '362528'},
  '2025-06-12': {'1. open': '816.0000',
   '2. high': '816.5500',
   '3. low': '801.2500',
   '4. close': '805.6500',
   '5. volume': '182058'},
  '2025-06-11': {'1. open': '817.0500',
   '2. high': '820.6000',
   '3. low': '812.9000',
   '4. close': '814.9500',
   '5. volume': '183277'},
  '2025-06-10': {'1. open': '821.9500',
   '2. high': '821.9500',
   '3. low': '814.6500',
   '4. close': '817.0500',
   '5. volume': '406292'},
  '2025-06-09': {'1. open': '817.1000',
   '2. high': '824.4000',
   '3. low': '815.6000',
   '4. close': '820.0500',
   '5. volume': '432300'},
  '2025-06-06': {'1. open': '806.1000',
   '2. high': '816.4500',
   '3. low': '802.9000',
   '4. close': '812.8500',
   '5. volume': '943903'},
  '2025-06-05': {'1. open': '809.0000',
   '2. high': '811.9000',
   '3. low': '803.0000',
   '4. close': '806.1000',
   '5. volume': '319568'},
  '2025-06-04': {'1. open': '815.1000',
   '2. high': '815.9500',
   '3. low': '805.0000',
   '4. close': '806.4500',
   '5. volume': '147931'},
  '2025-06-03': {'1. open': '816.9000',
   '2. high': '817.9500',
   '3. low': '805.2000',
   '4. close': '809.7500',
   '5. volume': '1443812'},
  '2025-06-02': {'1. open': '812.1000',
   '2. high': '822.5000',
   '3. low': '809.1000',
   '4. close': '813.4500',
   '5. volume': '1094058'},
  '2025-05-30': {'1. open': '797.3500',
   '2. high': '814.3500',
   '3. low': '792.7500',
   '4. close': '812.4000',
   '5. volume': '510858'},
  '2025-05-29': {'1. open': '797.1000',
   '2. high': '800.0000',
   '3. low': '791.4000',
   '4. close': '797.3000',
   '5. volume': '250346'},
  '2025-05-28': {'1. open': '794.0000',
   '2. high': '798.8500',
   '3. low': '792.9000',
   '4. close': '796.4500',
   '5. volume': '282344'},
  '2025-05-27': {'1. open': '794.1500',
   '2. high': '801.1500',
   '3. low': '789.7500',
   '4. close': '793.8000',
   '5. volume': '1122936'},
  '2025-05-26': {'1. open': '791.4500',
   '2. high': '797.5500',
   '3. low': '789.3000',
   '4. close': '794.3500',
   '5. volume': '247585'},
  '2025-05-23': {'1. open': '787.2000',
   '2. high': '794.8000',
   '3. low': '786.4000',
   '4. close': '790.4500',
   '5. volume': '456862'},
  '2025-05-22': {'1. open': '788.9000',
   '2. high': '788.9000',
   '3. low': '780.6000',
   '4. close': '785.3500',
   '5. volume': '390333'},
  '2025-05-21': {'1. open': '786.5000',
   '2. high': '790.7000',
   '3. low': '779.4000',
   '4. close': '787.2000',
   '5. volume': '260511'},
  '2025-05-20': {'1. open': '798.2500',
   '2. high': '799.6500',
   '3. low': '784.0000',
   '4. close': '785.3500',
   '5. volume': '441739'},
  '2025-05-19': {'1. open': '792.9500',
   '2. high': '801.3500',
   '3. low': '791.8500',
   '4. close': '794.9000',
   '5. volume': '508945'},
  '2025-05-16': {'1. open': '804.8000',
   '2. high': '804.8000',
   '3. low': '790.6000',
   '4. close': '791.8500',
   '5. volume': '645169'},
  '2025-05-15': {'1. open': '804.8500',
   '2. high': '809.5000',
   '3. low': '794.5500',
   '4. close': '807.7000',
   '5. volume': '904539'},
  '2025-05-14': {'1. open': '805.2500',
   '2. high': '807.4500',
   '3. low': '796.5000',
   '4. close': '800.3500',
   '5. volume': '1139114'},
  '2025-05-13': {'1. open': '800.4500',
   '2. high': '807.7000',
   '3. low': '797.2500',
   '4. close': '801.9000',
   '5. volume': '717454'},
  '2025-05-12': {'1. open': '799.8500',
   '2. high': '803.9000',
   '3. low': '793.1000',
   '4. close': '801.6000',
   '5. volume': '829415'},
  '2025-05-09': {'1. open': '755.2500',
   '2. high': '781.4000',
   '3. low': '755.2500',
   '4. close': '779.4000',
   '5. volume': '375997'},
  '2025-05-08': {'1. open': '778.0000',
   '2. high': '786.5000',
   '3. low': '765.0000',
   '4. close': '768.7500',
   '5. volume': '463248'},
  '2025-05-07': {'1. open': '762.2500',
   '2. high': '782.5500',
   '3. low': '762.2500',
   '4. close': '776.1500',
   '5. volume': '581175'},
  '2025-05-06': {'1. open': '792.2000',
   '2. high': '799.0000',
   '3. low': '771.1500',
   '4. close': '774.1500',
   '5. volume': '761282'},
  '2025-05-05': {'1. open': '784.9500',
   '2. high': '799.1000',
   '3. low': '783.6500',
   '4. close': '790.0000',
   '5. volume': '771587'},
  '2025-05-02': {'1. open': '792.0500',
   '2. high': '802.9500',
   '3. low': '789.2500',
   '4. close': '800.0500',
   '5. volume': '335006'},
  '2025-04-30': {'1. open': '812.8500',
   '2. high': '812.8500',
   '3. low': '784.4500',
   '4. close': '788.1500',
   '5. volume': '412886'},
  '2025-04-29': {'1. open': '820.0000',
   '2. high': '829.0000',
   '3. low': '808.7500',
   '4. close': '811.7500',
   '5. volume': '699284'},
  '2025-04-28': {'1. open': '796.3000',
   '2. high': '822.5000',
   '3. low': '796.3000',
   '4. close': '817.6000',
   '5. volume': '1068737'},
  '2025-04-25': {'1. open': '813.6000',
   '2. high': '819.1000',
   '3. low': '787.1000',
   '4. close': '798.7500',
   '5. volume': '383883'},
  '2025-04-24': {'1. open': '813.3000',
   '2. high': '819.1500',
   '3. low': '811.0000',
   '4. close': '813.2000',
   '5. volume': '506029'},
  '2025-04-23': {'1. open': '825.8500',
   '2. high': '830.0000',
   '3. low': '809.9500',
   '4. close': '813.3000',
   '5. volume': '1020589'},
  '2025-04-22': {'1. open': '821.2000',
   '2. high': '835.4000',
   '3. low': '813.8000',
   '4. close': '822.4500',
   '5. volume': '663396'},
  '2025-04-21': {'1. open': '803.0000',
   '2. high': '824.2500',
   '3. low': '801.6000',
   '4. close': '816.6000',
   '5. volume': '697505'},
  '2025-04-17': {'1. open': '771.1000',
   '2. high': '801.0000',
   '3. low': '767.2500',
   '4. close': '797.1000',
   '5. volume': '738676'},
  '2025-04-16': {'1. open': '764.0000',
   '2. high': '774.5500',
   '3. low': '760.4000',
   '4. close': '771.7500',
   '5. volume': '477621'},
  '2025-04-15': {'1. open': '768.0500',
   '2. high': '770.6000',
   '3. low': '757.6500',
   '4. close': '763.3000',
   '5. volume': '763643'},
  '2025-04-11': {'1. open': '759.9500',
   '2. high': '759.9500',
   '3. low': '746.1500',
   '4. close': '754.0500',
   '5. volume': '593599'},
  '2025-04-09': {'1. open': '768.8000',
   '2. high': '769.0000',
   '3. low': '740.7500',
   '4. close': '742.0500',
   '5. volume': '467660'},
  '2025-04-08': {'1. open': '757.0000',
   '2. high': '774.1000',
   '3. low': '757.0000',
   '4. close': '768.4000',
   '5. volume': '490787'},
  '2025-04-07': {'1. open': '732.3000',
   '2. high': '752.9500',
   '3. low': '730.9500',
   '4. close': '746.7500',
   '5. volume': '775236'},
  '2025-04-04': {'1. open': '779.2000',
   '2. high': '782.2500',
   '3. low': '765.0000',
   '4. close': '767.8000',
   '5. volume': '392420'},
  '2025-04-03': {'1. open': '770.0000',
   '2. high': '784.8500',
   '3. low': '770.0000',
   '4. close': '779.2000',
   '5. volume': '284146'},
  '2025-04-02': {'1. open': '772.0000',
   '2. high': '776.8000',
   '3. low': '764.3000',
   '4. close': '775.8500',
   '5. volume': '134131'},
  '2025-04-01': {'1. open': '767.9500',
   '2. high': '782.5000',
   '3. low': '763.0500',
   '4. close': '771.5000',
   '5. volume': '458492'},
  '2025-03-28': {'1. open': '770.7000',
   '2. high': '778.4500',
   '3. low': '768.0000',
   '4. close': '771.6000',
   '5. volume': '514260'},
  '2025-03-27': {'1. open': '762.7000',
   '2. high': '775.0000',
   '3. low': '760.7500',
   '4. close': '772.4000',
   '5. volume': '243074'},
  '2025-03-26': {'1. open': '770.3000',
   '2. high': '775.9500',
   '3. low': '761.8000',
   '4. close': '763.3500',
   '5. volume': '346155'},
  '2025-03-25': {'1. open': '784.4000',
   '2. high': '786.0000',
   '3. low': '769.6500',
   '4. close': '773.0500',
   '5. volume': '841085'},
  '2025-03-24': {'1. open': '758.5000',
   '2. high': '783.1500',
   '3. low': '755.0500',
   '4. close': '781.4000',
   '5. volume': '459986'}}}

In [11]:
daily.keys()

dict_keys(['Meta Data', 'Time Series (Daily)'])

In [17]:
daily1 = daily["Time Series (Daily)"]
daily_df = pd.DataFrame(daily1).T
daily_df

             1. open   2. high    3. low  4. close 5. volume
2025-08-18  831.3500  835.2000  825.3000  827.0000    435823
2025-08-14  821.8500  828.0000  819.2000  826.7000    492882
2025-08-13  823.4500  824.9000  820.5500  822.1500    847012
2025-08-12  824.3000  825.6000  820.0000  820.5500    784250
2025-08-11  807.0000  824.9500  807.0000  824.3000   1141997
...              ...       ...       ...       ...       ...
2025-03-28  770.7000  778.4500  768.0000  771.6000    514260
2025-03-27  762.7000  775.0000  760.7500  772.4000    243074
2025-03-26  770.3000  775.9500  761.8000  763.3500    346155
2025-03-25  784.4000  786.0000  769.6500  773.0500    841085
2025-03-24  758.5000  783.1500  755.0500  781.4000    459986

[100 rows x 5 columns]

In [18]:
daily_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 2025-08-18 to 2025-03-24
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    object
 1   2. high    100 non-null    object
 2   3. low     100 non-null    object
 3   4. close   100 non-null    object
 4   5. volume  100 non-null    object
dtypes: object(5)
memory usage: 4.7+ KB

In [19]:
# convert datatype to float and round off 2 decimal
daily_df = daily_df.astype(float).round(2)
daily_df.dtypes

1. open      float64
2. high      float64
3. low       float64
4. close     float64
5. volume    float64
dtype: object

In [20]:
daily_df.head()

            1. open  2. high  3. low  4. close  5. volume
2025-08-18   831.35   835.20  825.30    827.00   435823.0
2025-08-14   821.85   828.00  819.20    826.70   492882.0
2025-08-13   823.45   824.90  820.55    822.15   847012.0
2025-08-12   824.30   825.60  820.00    820.55   784250.0
2025-08-11   807.00   824.95  807.00    824.30  1141997.0

In [21]:
daily_df.index

Index(['2025-08-18', '2025-08-14', '2025-08-13', '2025-08-12', '2025-08-11',
       '2025-08-08', '2025-08-07', '2025-08-06', '2025-08-05', '2025-08-04',
       '2025-08-01', '2025-07-31', '2025-07-30', '2025-07-29', '2025-07-28',
       '2025-07-25', '2025-07-24', '2025-07-23', '2025-07-22', '2025-07-21',
       '2025-07-18', '2025-07-17', '2025-07-16', '2025-07-15', '2025-07-14',
       '2025-07-11', '2025-07-10', '2025-07-09', '2025-07-08', '2025-07-07',
       '2025-07-04', '2025-07-03', '2025-07-02', '2025-07-01', '2025-06-30',
       '2025-06-27', '2025-06-26', '2025-06-25', '2025-06-24', '2025-06-23',
       '2025-06-20', '2025-06-19', '2025-06-18', '2025-06-17', '2025-06-16',
       '2025-06-13', '2025-06-12', '2025-06-11', '2025-06-10', '2025-06-09',
       '2025-06-06', '2025-06-05', '2025-06-04', '2025-06-03', '2025-06-02',
       '2025-05-30', '2025-05-29', '2025-05-28', '2025-05-27', '2025-05-26',
       '2025-05-23', '2025-05-22', '2025-05-21', '2025-05-20', '2025-05-19',
       '2025-05-16', '2025-05-15', '2025-05-14', '2025-05-13', '2025-05-12',
       '2025-05-09', '2025-05-08', '2025-05-07', '2025-05-06', '2025-05-05',
       '2025-05-02', '2025-04-30', '2025-04-29', '2025-04-28', '2025-04-25',
       '2025-04-24', '2025-04-23', '2025-04-22', '2025-04-21', '2025-04-17',
       '2025-04-16', '2025-04-15', '2025-04-11', '2025-04-09', '2025-04-08',
       '2025-04-07', '2025-04-04', '2025-04-03', '2025-04-02', '2025-04-01',
       '2025-03-28', '2025-03-27', '2025-03-26', '2025-03-25', '2025-03-24'],
      dtype='object')

In [22]:
daily_df.index.name = "date"
daily_df.head()

            1. open  2. high  3. low  4. close  5. volume
date
2025-08-18   831.35   835.20  825.30    827.00   435823.0
2025-08-14   821.85   828.00  819.20    826.70   492882.0
2025-08-13   823.45   824.90  820.55    822.15   847012.0
2025-08-12   824.30   825.60  820.00    820.55   784250.0
2025-08-11   807.00   824.95  807.00    824.30  1141997.0

In [23]:
daily_df.shape

(100, 5)

In [24]:
# Save above in csv file
daily_df.to_csv("sbin.csv")

# Plotly to visulize stock market data

In [47]:
import plotly.graph_objects as go

fig = go.Figure(
    data=[
        go.Candlestick(
            x=daily_df.index,
            open=daily_df["1. open"],
            high=daily_df["2. high"],
            low=daily_df["3. low"],
            close=daily_df["4. close"],
        )
    ]
)

fig.update_layout(width=1200, height=800, title="SBIN.BSE Stock price")

# fig.show()

# Create a class to get the data for any stock

In [32]:
import streamlit as st
import requests
import pandas as pd
import plotly.graph_objects as go


class StockData:

    def __init__(self):
        api_key = st.secrets["API_KEY"]
        self.url = "https://alpha-vantage.p.rapidapi.com/query"
        self.headers = {
            "x-rapidapi-key": api_key,
            "x-rapidapi-host": "alpha-vantage.p.rapidapi.com",
        }

    def symbol_search(self, company: str):
        querystring = {
            "datatype": "json",
            "keywords": company,
            "function": "SYMBOL_SEARCH",
        }
        response = requests.get(self.url, headers=self.headers, params=querystring)
        search = response.json()["bestMatches"]
        search_df = pd.DataFrame(search)
        return search_df

    def get_daily_data(self, symbol: str):
        querystring = {
            "function": "TIME_SERIES_DAILY",
            "symbol": symbol,
            "outputsize": "compact",
            "datatype": "json",
        }
        response = requests.get(self.url, headers=self.headers, params=querystring)
        daily = response.json()["Time Series (Daily)"]
        daily_df = pd.DataFrame(daily).T
        daily_df = daily_df.astype(float)
        daily_df.index = pd.to_datetime(daily_df.index)
        daily_df.index.name = "date"
        return daily_df

    def plot_chart(self, data: pd.DataFrame):
        fig = go.Figure(
            data=[
                go.Candlestick(
                    x=data.index,
                    open=data["1. open"],
                    high=data["2. high"],
                    low=data["3. low"],
                    close=data["4. close"],
                )
            ]
        )

        fig.update_layout(width=1200, height=800)
        return fig

In [34]:
client = StockData()

In [35]:
type(client)

__main__.StockData

In [36]:
client.symbol_search(company="HDFC Bank")

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
0,HDB,HDFC Bank Ltd,Equity,United States,09:30,16:00,UTC-04,USD,0.8182
1,HDFCBANK.BSE,HDFC Bank Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,0.8000
2,H1DB34.SAO,HDFC Bank Limited,Equity,Brazil/Sao Paolo,10:00,17:30,UTC-03,BRL,0.6923
3,HDFA.FRK,HDFC Bank Limited,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.6923

In [37]:
df_hdfc = client.get_daily_data(symbol="HDFCBANK.BSE")
df_hdfc

            1. open  2. high   3. low  4. close  5. volume
date
2025-08-18  2005.60  2025.85  1995.45   2003.65   283576.0
2025-08-14  1989.70  1996.65  1971.70   1991.40   170296.0
2025-08-13  1980.05  1987.95  1969.00   1979.35  1034184.0
2025-08-12  1990.35  1996.00  1967.65   1969.95   288268.0
2025-08-11  1973.25  1998.35  1973.25   1996.00   284368.0
...             ...      ...      ...       ...        ...
2025-03-28  1830.00  1836.40  1806.75   1828.50   348897.0
2025-03-27  1799.50  1840.50  1798.70   1825.25   186393.0
2025-03-26  1824.00  1827.50  1802.50   1805.95   240192.0
2025-03-25  1801.25  1843.90  1801.25   1821.45   711824.0
2025-03-24  1780.00  1804.00  1773.45   1801.15   126190.0

[100 rows x 5 columns]

In [38]:
df_hdfc.to_csv("hdfc.csv")

In [45]:
fig2 = client.plot_chart(data=df_hdfc)
# fig2.show()

# plot tesla data

In [40]:
client.symbol_search(company="Tesla")

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
0,TSLA,Tesla Inc,Equity,United States,09:30,16:00,UTC-04,USD,0.8889
1,TL0.DEX,Tesla Inc,Equity,XETRA,08:00,20:00,UTC+02,EUR,0.7143
2,TL0.FRK,Tesla Inc,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.7143
3,TSLA34.SAO,Tesla Inc,Equity,Brazil/Sao Paolo,10:00,17:30,UTC-03,BRL,0.7143
4,TSLA.TRT,Tesla CDR (CAD Hedged),Equity,Toronto,09:30,16:00,UTC-05,CAD,0.6667
5,TL01.FRK,TESLA INC. CDR DL-001,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.3846

In [41]:
df_tsla = client.get_daily_data(symbol="TSLA")
df_tsla

            1. open   2. high    3. low  4. close    5. volume
date
2025-08-18  329.620  336.2700  329.5900    335.16   56956552.0
2025-08-15  337.655  339.3000  327.0200    330.56   74319792.0
2025-08-14  335.760  340.4699  330.4000    335.58   75000662.0
2025-08-13  341.500  348.9800  338.2000    339.38   67838892.0
2025-08-12  345.000  345.2600  332.9400    340.84   80690111.0
...             ...       ...       ...       ...          ...
2025-04-01  263.800  277.4500  259.2500    268.46  146486911.0
2025-03-31  249.310  260.5600  243.3601    259.16  134008936.0
2025-03-28  275.575  276.1000  260.5700    263.55  123809389.0
2025-03-27  272.480  291.8500  271.8216    273.13  162572146.0
2025-03-26  282.660  284.9000  266.5100    272.06  156254441.0

[100 rows x 5 columns]

In [42]:
df_tsla.to_csv("tsla.csv")

In [44]:
fig3 = client.plot_chart(data=df_tsla)
# fig3.show()